@model IEnumerable<Data.Models.User>

@{
    ViewData["Title"] = "Index";
}

<img src="https://cdn.discordapp.com/attachments/599576927883231246/1228989434867744859/UsersGif.gif?ex=662e0c9a&is=661b979a&hm=e68ed3a8f5b4aafa3c8340576b3dab715cae473de57acd42d4e4557a823efab0&" alt="Alternate Text" />

@if (!this.User.IsInRole("Admin"))
{
    <h1>You're not supposed to be here! :)</h1>
    throw new UnauthorizedAccessException("You're not supposed to be here! :)");
}
else
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(model => item.Id)
                    </th>
                    <th>
                        @Html.DisplayFor(model => item.FirstName)
                    </th>
                    <th>
                        @Html.DisplayFor(model => item.LastName)
                    </th>
                    <th>
                        @Html.DisplayFor(model => item.Email)
                    </th>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}